.carousel {
    max-width: 18rem !important; /* Mesmo tamanho do card */
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 10% !important; 
    top: 50% !important; 
    transform: translateY(-50%) !important; 
    height: auto !important; 
    filter: invert(1) !important;
  }

