html {
  scroll-behavior: auto !important;
  overflow: auto !important;
}

body, #root {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

/* Garante que todas as páginas comecem no topo */
.route-page {
  scroll-snap-align: start;
  overflow-anchor: none;
}
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid black;
}


